﻿
@{
    ViewBag.Title = "HtmlHelper";
}

<h2>HtmlHelper</h2>

<p>姓名: @Html.TextBox("firstname", "")</p>
<p>帳號: @Html.TextBox("firstname", "")</p>
<p>密碼: @Html.Password("password", "")</p>
<p>性別: @Html.RadioButton("gender", "A") 男 @Html.RadioButton("gender", "B") 女</p>
<p>
    興趣: @Html.CheckBox("item-1", "false")游泳
    @Html.CheckBox("item-2", "false")閱讀
    @Html.CheckBox("item-3", "false")看電影
</p>
<p>自我介紹 @Html.TextArea("abc")</p>

<p>
    @Html.DropDownList("year", new List<SelectListItem>{
     new SelectListItem{Value = "1",Text = "1月" },
     new SelectListItem{Value = "2",Text = "2月" },
     new SelectListItem{Value = "3",Text = "3月" },
 }
 )
</p>

        @*<p> 姓名: <input type="text" name="firstname" value="" /></p>
            <p> 帳號: <input type="text" name="firstname" value="" /></p>
            <p> 密碼: <input type="text" name="firstname" value="" /></p>
            <p>
                性別: <input type="radio" name="gender" value="A"> 男  <input type="radio" name="gender" value="B"> 女<br>
            </p>
            <p>
                興趣: <input type="checkbox" name="item-1" value="A" />游泳
                <input type="checkbox" name="item-2" value="A" />閱讀
                <input type="checkbox" name="item-2" value="A" />看電影
            </p>
            <p>自我介紹<textarea></textarea></p>*@
